/*Makes no gaps from the top of the page*/
body {
    margin: 0;
    padding: 0;
}

/*Splits the page in half*/
.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

/*Controls the left side*/
.left {
    background-image: url("neon_raindrops.jpg");
    width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*Controls the right side*/
.right {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 60vw;
}
.welcome {
    height: 33vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}
.container {
    height: 33vh;
}
.button {
    height: 33vh;
}




